*{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{background:#fff;margin:0;font-family:Helvetica, Arial;font-weight:200}
header{margin:10px 0;padding:21px}
button{border:none;padding:10px 20px;font-size:0.8em;border-radius:5px;outline:none;cursor:pointer;transition:200ms all}button:hover{background:black;color:white}
h1{font-size:2em;margin:0;margin-bottom:10px;font-family:Helvetica, Arial;font-weight:200}
h2{font-size:1.3em;margin:0;margin-bottom:10px;font-family:Helvetica, Arial;font-weight:200}
.page{width:960px;margin:auto}
.panel{padding:20px;background:#f0f0f0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #e3e3e3}.panel+.panel{margin-top:10px}
.panel h3{border-bottom:1px solid lightgrey;padding-bottom:10px 0;margin:5px 0}.panel h3 a{text-decoration:none;font-weight:200;font-size:2em}
.panel h4{margin:10px 0}
a{color:inherit}
