body{
    background: grey; margin:0;
}

header{
    background: lightgrey; padding: 20px; border-bottom: 1px solid black;
}

button{
    border:none; padding: 10px 20px; font-size: 0.8em; border-radius: 5px; outline: none; cursor: pointer; transition:200ms all;
    &:hover{
        background: black; color: white;
    }
}

h1{
    font-size: 2em; font-family: Helvetica, Arial; font-weight: 200; margin: 0; margin-bottom: 10px;
}

.panel{
    padding: 10px;
}