<!doctype html>
<html ng-controller="baseController">
    <head>
        <title>Angular Libs</title>
        <script src="http://localhost:35729/livereload.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="css/layout.css">
        <script data-main="./scripts/app.js" src="./bower_components/requirejs/require.js"></script>
    </head>
    <body>
        <div class="page">
            <header>
                <h1>Tiny Angular extensions</h1>
                <h2>Module name: tn.extensions</h2>
            </header>
            <div id="directClick"
                class="panel" 
                ng-controller="directClickExampleController" 
                ng-init="valueIncreasedWithDirectClick=0">
                <h3><a href="#directClick">directive: tn-direct-click</a></h3>
                <div tn-direct-click="valueIncreasedWithDirectClick=valueIncreasedWithDirectClick+1" 
                    style="background:green;color:white;display:inline-block;padding:10px;cursor:pointer">
                    Click me directly
                    <button>Child, won't increase counter</button>
                </div>
                <h4>Number of direct clicks: {{valueIncreasedWithDirectClick}}</h4>
            </div>
            <div id="actionPopup" 
                class="panel">
                <h3><a href="#directClick">directive: tn-action-popup</a></h3>
                <div tn-action-popup="true">
                    ACTION
                </div>
            </div>
            <div id="localStorage"
                class="panel" 
                ng-controller="localStorageExampleController">
                <h3><a href="#directClick">service: tnLocalStorage</a></h3>
                <button ng-click="put()">Put to localStorage: name='Foo'</button>
                <button ng-click="remove()">Remove 'name' from localStorage</button>
                <br><br>
                <button ng-click="get()">Get from localStorage</button>
                <h4>Stored 'name' value: {{localStorageRetrieve}}</h4>
            </div>
            <div id="persistentConfig"
                class="panel" 
                ng-controller="persistentConfigExampleController">
                <h3><a href="#directClick">service: tnPersistentConfig</a></h3>
                <pre>{"name":"<input ng-model="options.name" type="text">", "surname": "<input ng-model="options.surname" type="text">"}</pre>
                <br><br>
                <h4>Storage contents: {{options.configObject}}</h4>
            </div>
        </div>
    </body>
</html>