<!doctype html>
<html ng-controller="baseController">
  <head>
    <title>Angular Libs</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <script data-main="./scripts/app.js" src="./bower_components/requirejs/require.js"></script>
  </head>
  <body>
    <header>
      <h1>Module name: tn.extensions</h1>
      <button ng-click="showPanel('directClick')">tn-direct-click</button>
      <button ng-click="showPanel('actionPopup')">tn-action-popup</button>
    </header>
    <div ng-switch="activePanelIdentifier">
      <div ng-include="getPanelPath(activePanelIdentifier)"></div>
    </div>
    <!-- direct click example -->
    <!-- action popup example -->
    <!-- <div tn-action-popup="true">
      popup content
    </div> -->
  </body>
</html>