<!doctype html>
<html ng-controller="baseController">
    <head>
        <title>Angular Libs</title>
        <script src="http://localhost:35729/livereload.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="css/layout.css">
    </head>
    <body>
        <div class="page">
            <header>
                <h1>Tiny Angular extensions</h1>
                <h2>Module name: tn.extensions</h2>
            </header>
            <div id="focusMe"
                class="panel"
                ng-controller="focusMeController">
                <h3><i class="fa fa-link"></i><a href="#focusMe">service: tnFocusMe</a></h3>
                <button ng-click="focused=true">Focus the input field</button>
                <input type="text" placeholder="Input focused when button clicked">
            </div>
            <div id="directClick"
                class="panel" 
                ng-controller="directClickExampleController" 
                ng-init="valueIncreasedWithDirectClick=0">
                <h3><i class="fa fa-link"></i><a href="#directClick">directive: tn-direct-click</a></h3>
                <div tn-direct-click="valueIncreasedWithDirectClick=valueIncreasedWithDirectClick+1" 
                    style="background:green;color:white;display:inline-block;padding:10px;cursor:pointer">
                    Click me directly
                    <button>Child, won't increase counter</button>
                </div>
                <h4>Number of direct clicks: {{valueIncreasedWithDirectClick}}</h4>
            </div>
            <div id="actionPopup" 
                class="panel">
                <h3><i class="fa fa-link"></i><a href="#actionPopup">directive: tn-action-popup</a></h3>
                <div tn-action-popup="true">
                    ACTION
                </div>
            </div>
            <div id="localStorage"
                class="panel" 
                ng-controller="localStorageExampleController">
                <h3><i class="fa fa-link"></i><a href="#localStorage">service: tnLocalStorage</a></h3>
                <button ng-click="put()">Put to localStorage: name='Foo'</button>
                <button ng-click="remove()">Remove 'name' from localStorage</button>
                <br><br>
                <button ng-click="get()">Get from localStorage</button>
                <h4>Stored 'name' value: {{localStorageRetrieve}}</h4>
            </div>
            <div id="persistentConfig"
                class="panel" 
                ng-controller="persistentConfigExampleController">
                <h3><i class="fa fa-link"></i><a href="#persistentConfig">service: tnPersistentConfig</a></h3>
                <pre>{"name":"<input ng-model="options.name" type="text">", "surname": "<input ng-model="options.surname" type="text">"}</pre>
                <br><br>
                <h4>Storage contents: {{options.configObject}}</h4>
            </div>
        </div>
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/requirejs/require.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <!-- endbower -->
        <!-- manually input paths -->
        <script data-main="./scripts/app.js" src="./bower_components/requirejs/require.js"></script>
        <!-- end manually input paths -->
        <!-- injector:js -->
        <script src="../scripts/directives/actionPopup.js"></script>
        <script src="../scripts/directives/directClick.js"></script>
        <script src="../scripts/directives/focusMe.js"></script>
        <script src="../scripts/directives/imageOnLoad.js"></script>
        <script src="../scripts/directives/persistentConfig.js"></script>
        <script src="../scripts/services/localStorage.js"></script>
        <!-- endinjector -->
    </body>
</html>