<!doctype html>
<html ng-app="app">
    <head>
        <title>Angular Libs</title>
        <script src="http://localhost:35728/livereload.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link rel="stylesheet" type="text/css" href="styles/layout.css">
    </head>
    <body ng-controller="baseController">
        <div class="page">
            <header>
                <h1>Angular extensions</h1>
                <h2>Module name: tn.extensions</h2>
            </header>
            <div id="bulkImageLoaderFullscreen"
                class="panel"
                ng-controller="bulkImageLoaderExampleController">
                <h3><i class="fa fa-link"></i><a href="#bulkImageLoaderFullscreen">service: tnBulkImageLoader</a></h3>
                uses browser caching, so turn of any plugins that disable it for correct results<br>
                <input type="text" 
                    placeholder="image url" 
                    ng-model="imageLoaderOptions.imageUrls[0]">
                <input type="text" 
                    placeholder="image url" 
                    ng-model="imageLoaderOptions.imageUrls[1]">
                <button ng-click="downloadImages()" type="button">download all images</button>
                <div>
                    <div ng-repeat="url in imageLoaderOptions.loadedUrls">
                        <img ng-src="{{url}}">
                        <span>loaded url: {{url}}</span>
                    </div>
                </div>
            </div>
            <div id="measureSize"
                class="panel"
                ng-controller="measureSizeExampleController">
                <h3><i class="fa fa-link"></i><a href="#actionPopup">directive: tnMeasureOnResize</a></h3>
                <div style="width: 80%; margin: auto; background: lightblue; height: 200px; line-height: 200px; text-align: center"
                    tn-measure-on-resize="onButtonResize(width, height, top, left, relativeTop, relativeLeft)" 
                    tn-measure-on-resize-init="onButtonResize(width, height, top, left, relativeTop, relativeLeft)">
                    {{measureOptions}}
                </div>
            </div>
            <div id="actionPopup" 
                class="panel"
                ng-controller="actionPopupExampleController">
                <h3><i class="fa fa-link"></i><a href="#actionPopup">directive: tnActionPopup</a></h3>
                <button ng-click="openPopup()">Open popup</button>
                <button tn-measure-on-resize="onButtonResize(width, height, relativeTop, relativeLeft)" 
                    tn-measure-on-resize-init="onButtonResize(width, height, relativeTop, relativeLeft)" 
                    ng-click="openTooltip()">Open tooltip</button>
            </div>
            <div id="focusMe"
                ng-controller="focusMeExampleController"
                class="panel">
                <h3><i class="fa fa-link"></i><a href="#focusMe">service: tnFocusMe</a></h3>
                <button ng-click="focused = true">Focus the input field (is focused now: {{focused}})</button>
                <input tn-focus-me="focused" type="text" placeholder="Input focused when button clicked">
            </div>
            <div id="directClick"
                class="panel" 
                ng-controller="directClickExampleController">
                <h3><i class="fa fa-link"></i><a href="#directClick">directive: tnDirectClick</a></h3>
                <div tn-direct-click="valueIncreasedWithDirectClick = valueIncreasedWithDirectClick + 1" 
                    style="background:green;color:white;display:inline-block;padding:10px;cursor:pointer">
                    Click me directly
                    <button>Child, won't increase counter</button>
                </div>
                <h4>Number of direct clicks: {{valueIncreasedWithDirectClick}}</h4>
            </div>
            <div id="localStorage"
                class="panel" 
                ng-controller="localStorageExampleController">
                <h3><i class="fa fa-link"></i><a href="#localStorage">service: tnLocalStorage</a></h3>
                <button ng-click="put()">Put to localStorage: name='Foo'</button>
                <button ng-click="remove()">Remove 'name' from localStorage</button>
                <br><br>
                <button ng-click="get()">Get from localStorage</button>
                <h4>Stored 'name' value: {{localStorageRetrieve}}</h4>
            </div>
            <div id="persistentConfig"
                class="panel" 
                ng-controller="persistentConfigExampleController">
                <h3><i class="fa fa-link"></i><a href="#persistentConfig">service: tnPersistentConfig</a></h3>
                <pre>tnPersistentConfigMap: {"name":"<input ng-model="options.name" type="text">", "surname": "<input ng-model="options.surname" type="text">"}</pre>
                <br><br>
                <h4>Storage contents: {{options.configObject}}</h4>
            </div>
        </div>






        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/tn-javascript-extensions/build/tn-javascript-extensions.js"></script>
        <script src="bower_components/angular-tn-extensions/build/tn-extensions-full.js"></script>
        <!-- endbower -->

        <!-- injector:js -->
        <script src="../build/tn-extensions-full.js"></script>
        <script src="scripts/modules/app.js"></script>
        <script src="scripts/controllers/actionPopupExampleController.js"></script>
        <script src="scripts/controllers/actionPopupWindowExampleController.js"></script>
        <script src="scripts/controllers/baseController.js"></script>
        <script src="scripts/controllers/bulkImageLoaderExampleController.js"></script>
        <script src="scripts/controllers/directClickExampleController.js"></script>
        <script src="scripts/controllers/focusMeExampleController.js"></script>
        <script src="scripts/controllers/localStorageExampleController.js"></script>
        <script src="scripts/controllers/measureSizeExampleController.js"></script>
        <script src="scripts/controllers/persistentConfigExampleController.js"></script>
        <!-- endinjector -->




        
        

    </body>
</html>